@charset "utf-8";

html, body {
  margin:0; padding:0; border:0;
  min-width:100%; min-height:100vh;
}

.chrome {
  margin:0;
  padding:0;
  border:0;
  list-style:none;
}

h1,h2,h3,h4{
  color: #414141;
  text-transform: uppercase;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 2em;
  }

h2{

  font-weight: 300;
  font-size: 1.5em;
}
h3{
	font-weight: 900;
}

h4 {
  font-weight: 300;
}

p{
	color: #414141;
  font-size: .8em;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;

  .main{
    flex: 1;
  	text-align: left;
  	padding: 1em;

  	h1, h2, h3, h4{
  		//text-align: left;
  	}
    p,ul{
    	color: #414141;
      font-size: .8em;
      font-family: 'Roboto', sans-serif;
    }
  }

  >nav{
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    color: #f1592a;
    text-transform: uppercase;
    margin: 0;
    display: flex;
    background: #414141;

  	width: 100%;

    flex-direction: row;

    a:link, a:visited, a:hover{
      color: inherit;
      font-size: 1.5em;
    }

    * {
      align-self: center;
    }

    svg{
      display: inline-block;
      padding: 0.1em;
      width: 12em;
    }

  	>ul{

      flex-grow: 1;

      display: flex;
      text-align: center;
      >li{
        flex: 1;
    	}
  	}
  }
  >footer{
    font-family: 'Orbitron', sans-serif;
    font-weight: 300;
    color:#fff;
    width: 100%;
    line-height: 2rem;
    text-align: center;
    background-color: #414141;

    >ul{
      display:flex;
      flex-direction: row;
      >li{
        flex: 1;
      }
    }
  }
}

.doc {
  font-size: 1.5em;
  font-weight: 900;

  a {
    padding: 0;
    color: rgba(66, 70, 81, .5);
  }
  a:hover {
    color: rgba(66, 70, 81, 1);
  }
  a::before,
  a:last-child::after {
    opacity: .9;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•";
  }
}


.zoom{
  animation-name: welcome;
  animation-duration: .9s;
}

// ANIMATION

@keyframes welcome {
  from {
    transform: scale(0);
    opacity: 0;
  }
  50% {
   transform: scale(0);
   opacity: 0;
  }
  82.5% {
    transform: scale(1.03);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    transform: scale(1);
  }
}

a{
  text-decoration: none;
}

a:link{
	  color:#414141;
	  text-decoration: none;
  }
a:visited{
	  color: rgba(66, 70, 81, .7);
	  text-decoration: none;
  }
 a:hover{
	 color: rgba(66, 70, 81, 1);
	 text-decoration: none;
 }
