---
title: Bitizenship

---

<h1>Bitizenship</h1>

<div class="flex">
	<div class="column">
    <h3>Become a Bitizen</h3>
    <form>
      Stream <label><input type="radio" name="stream" value="plt">PLT</label>
      <label><input type="radio" name="stream" value="net">NET</label>
      <label><input type="radio" name="stream" value="net">IMD</label><br>

      Name <input type='text'></input></br>
      Student # <input type='number'></input></br>
      Email <input type='email'></input></br>
      Program Year
      <label><input type="radio" name="year" value="1">1st</label>
      <label><input type="radio" name="year" value="2">2nd</label>
      <label><input type="radio" name="year" value="3">3rd</label>
      <label><input type="radio" name="year" value="4">4th</label>
      <label><input type="radio" name="year" value="other">Other</label><br>

      Semesters
      <label><input type="radio" name="payment" value="1">One ($5)</label>
      <label><input type="radio" name="year" value="2">Two ($10)</label><br>
      *Provide payment to one of the execs in the lounge to complete the sign up!
    </br>

      <button type="Submit">Apply for Bitizenship </button>
    </form>
  </div>

	<div class="column">
    <h3>Perks of being a BITSoc member</h3>
    <ul>
      <li>Access to the BITSoc lounge</li>
      <li>Merchandise discount</li>
      <li>Priority access to events with limited spots</li>
      <li>Access to extra notes and practice problems from past years</li>
      <li>Invitation to participate in BITSoc member exclusive events</li>
      <li>Food prep area including a microwave, coffee machine and mini fridge</li>
      <li>Couches, N64 and boardgames</li>
      <li>Study priority area from 8:30-3:30 (undecided times yet, potential)</li>
      <li>Whiteboards and chalkboards useful for studying</li>
      <li>Room booking possibilities</li>
      <li>Potentially Narnia</li>
    </ul>
  </div>
</div>
