---
title: Events

---

<h1>Events Calendar</h1>
    </br>
<div class="flex">
	<div class="column">
    <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23e88598&amp;ctz=America%2FToronto"  frameborder="0" scrolling="no"></iframe>
  </div>
<div class="column">
    <h3>Book Room</h3>
    <p> To request a room booking, calendar event, or any miscelaneous change, please email us at carletonbitsociety@gmail.com with the Subject line "Calendar."
    </p>
  </div>
</div>
