---
title: Execs

---

<h1>Exec Team</h1>
</br>
	<h4>What Is BITSoc</h4>
	<p>
		BITSoc is a stream society for students in the Bachelor of Information Technology degree program at Carleton. The goal of the BITsociety (BITSoc) is to create destressing and learning opportunities, and help students create bonds with other BIT streams and years.
	</p>
<div class="flex">
	<div class="column">
		<div class="exec">
			<img src="eximage.jpg" alt="President"/>
			<div class="exectxt">
				<h2>President</h2>
				<p>
					Nicole Mackin </br>
					3rd Year IMD (Co-op)</br>
					Contact info/hours
				</p>
			</div>
		</div>
		<div class="exec">
			<img src="eximage.jpg" alt="President"/>
			<div class="exectxt">
				<h2>Vice-President</h2>
				<p>
					Sara Cavasotto</br>
					3rd Year IMD</br>
					Contact info/hours
				</p>
			</div>
		</div>
		<div class="exec">
			<img src="eximage.jpg" alt="President"/>
			<div class="exectxt">
				<h2>Treasurer</h2>
				<p>
					Anjali Dutt</br>
					3rd Year IMD (Co-op)</br>
					Contact info/hours
				</p>
			</div>
		</div>
		<div class="exec">
			<img src="eximage.jpg" alt="President"/>
			<div class="exectxt">
				<h2>Events</h2>
				<p>
					Alfrancis Guerrero</br>
					3rd Year IMD</br>
					Contact info/hours
				</p>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="exec">
			<img src="eximage.jpg" alt="President"/>
			<div class="exectxt">
				<h2>NET rep</h2>
				<p>
					Georges</br>
					2nd Year NET</br>
					Contact info/hours
				</p>
			</div>
		</div>
		<div class="exec">
			<img src="eximage.jpg" alt="President"/>
			<div class="exectxt">
				<h2>IMD rep</h2>
				<p>
					Vishesh Thanki</br>
					4th Year IMD</br>
					Contact info/hours
				</p>
			</div>
		</div>
		<div class="exec">
			<img src="eximage.jpg" alt="President"/>
			<div class="exectxt">
				<h2>PLT rep</h2>
				<p>
					Eric Smith</br>
					2nd Year PLT</br>
					Contact info/hours
				</p>
			</div>
		</div>
	</div>
</div>
